@model Testimonial

<div class="container">
    <h1>Testimonial Details</h1>
    <div class="row">
        <div>
            <img src="~/images/@Model.ClientImage" width="500px" height="500px"/>
            <h1>@Model.Information</h1>
            <h1>@Model.FullName</h1>
            <h1>@Model.Profession</h1>
            <h1>@Model.Comment</h1>
        </div>
    </div>
</div>