@model NewProduct

<div class="container">
    <h1>New Details</h1>
    <div class="row">
        <div>
            <img src="~/images/@Model.ProductImg" width="500px" height="500px"/>
            <img src="~/images/@Model.HoverImg" width="500px" height="500px"/>
            <h1>@Model.Name</h1>
            <h1>@Model.Price</h1>
            <h1>@Model.Rating</h1>
        </div>
    </div>
</div>
