@model AboutTeam

<div class="container">
    <h1>About Team</h1>
    <div class="row">
        <div>
            <img src="~/images/@Model.Image" width="500px" height="500px"/>
            <h1>@Model.Description</h1>
            <h1>@Model.Name</h1>
            <h1>@Model.Surname</h1>
            <h1>@Model.Profession</h1>
        </div>
    </div>
</div>
