@model AboutCompanySlider

<div class="container">
    <h1>About Company Slider</h1>
    <div class="row">
        <div>
            <img src="~/images/@Model.Image" width="500px" height="500px"/>
            <h1>@Model.Image</h1>
        </div>
    </div>
</div>
