@model QuickLink

<div class="container">
    <h1>QuickLink Details</h1>
    <div class="row">
        <div>
            <h1>@Model.Description</h1>
            <h1>@Model.TelephoneNumber</h1>
        </div>
    </div>
</div>