@model HomeDescription

<div class="container">
    <h1>HomeDescription Details</h1>
    <div class="row">
        <div>
            <h1>@Model.NewProductInfo</h1>
            <h1>@Model.TestimonialInfo</h1>
            <h1>@Model.BlogInfo</h1>
        </div>
    </div>
</div>
