@model SingleProductDescription

<div class="container">
    <h1>SingleProductPageDescription Details</h1>
    <div class="row">
        <div>
            <h1>@Model.Information</h1>
        </div>
    </div>
</div>