@model Blog

<div class="container">
    <h1>About Blog</h1>
    <div class="row">
        <div>
            <img src="~/images/@Model.BlogImage" width="500px" height="500px"/>
@*           <h1>@Model.BlogDescription</h1>
*@            <h1>@Model.BlogInformation</h1>
            <h1>@Model.BlogTitle</h1>
            <h1>@Model.ByPerson</h1>
        </div>
    </div>
</div>
