@model About

<div class="container">
    <h1>About Page</h1>
    <div class="row">
        <div>
            <img src="~/images/@Model.Image" width="500px" height="500px"/>
            <h1>@Model.Information</h1>
            <h1>@Model.VideoLink</h1>
            <h1>@Model.CenterTitle</h1>
        </div>
    </div>
</div>
